[project]
	description = A game for exercising your brain
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trung Huynh (kenzaburo)
	owner = group user/thieftran
	owner = group user/vantuegia
[access "refs/for/refs/*"]
	read = group user/Trung Huynh (kenzaburo)
	read = group user/thieftran
	read = group user/vantuegia
	push = group user/Trung Huynh (kenzaburo)
	push = group user/thieftran
	push = group user/vantuegia
	label-Code-Review = -2..+2 group user/Trung Huynh (kenzaburo)
	label-Code-Review = -2..+2 group user/thieftran
	label-Code-Review = -2..+2 group user/vantuegia
	label-Verified = -1..+1 group user/Trung Huynh (kenzaburo)
	label-Verified = -1..+1 group user/thieftran
	label-Verified = -1..+1 group user/vantuegia
	rebase = group user/Trung Huynh (kenzaburo)
	rebase = group user/thieftran
	rebase = group user/vantuegia
	removeReviewer = group user/Trung Huynh (kenzaburo)
	removeReviewer = group user/thieftran
	removeReviewer = group user/vantuegia
	submit = group user/Trung Huynh (kenzaburo)
	submit = group user/thieftran
	submit = group user/vantuegia
[access "refs/heads/*"]
	read = group user/Trung Huynh (kenzaburo)
	read = group user/thieftran
	read = group user/vantuegia
	create = group user/Trung Huynh (kenzaburo)
	create = group user/thieftran
	create = group user/vantuegia
	push = +force group user/Trung Huynh (kenzaburo)
	push = group user/thieftran
	push = group user/vantuegia
	pushMerge = group user/Trung Huynh (kenzaburo)
	pushMerge = group user/thieftran
	pushMerge = group user/vantuegia
[access "refs/tags/*"]
	push = +force group user/Trung Huynh (kenzaburo)
	push = group user/thieftran
	push = group user/vantuegia
	pushTag = group user/Trung Huynh (kenzaburo)
	pushTag = group user/thieftran
	pushTag = group user/vantuegia
	pushSignedTag = group user/Trung Huynh (kenzaburo)
	pushSignedTag = group user/thieftran
	pushSignedTag = group user/vantuegia
